body{
   margin: -1px;
}

main{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 830px;
    background-image: linear-gradient(#bad1cd, #f2f6f5);
}


#painel{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 5em;
    background-color: #aabebb;
}


#titulo{
    position: absolute;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    top: 1px;
    text-transform: uppercase;
    color: #333938;
}

#menu_top{
    position: relative;
    margin: auto;
    text-align: center;
    list-style-type: none;
    background-color: #aabebb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu_item{
    padding: 10px 33.3px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #aabebb;
    color: #333938;
    margin-left:-3px;
    margin-right: -2.8px;
}

.menu_item:hover{
    background-color: #667370;
    color: #FFFFFA;
    transition-duration: 0.4s;
}

#foto{
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  
    height: 290px;
}

#imagem_perfil{
    width: 320px;
    height: 300px;
}

#informacoes_pessoais{
    text-align: justify;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 600px;
    height: 300px;
    text-indent: 30px;
    line-height: 25px;
    color: #333938; 
}

#informacoes_profissionais{
    position: relative;
    float: left;
    width: 460px;
    height: 300px;
    margin: 20px; 
}

#escolaridade{
    position: relative;
    float: right;
    width: 460px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
    text-indent: 30px;
    text-align: justify;
    line-height: 25px;
    border-bottom: 1px solid #CC6633;
    border-top: 1px solid #CC6633;
    background-image:url("../images/aspas.png");
    background-repeat: no-repeat;
}


aside p{
    float: right;
    font-size: 21px;
    color: #999;
}


footer{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 960px;
    clear: both;
    color: #999;
    text-align: center;
    padding: 5px;
    background-color: #f2f6f5;
}